.header{
  width: 100vw;
  height: 200px;
  background-color: #76448A;
  display: flex;
  justify-content: center;
  position: relative;
}

.container{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #633974;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .5);
  color: white;
  border: 1px solid white;
  border-radius: 5rem;
  width: 60%;
  height: 50%;
  position: relative;
}

.input,.select, .button, .date{
  width: 10rem;  
  height: 2rem;
  padding: 0 .5rem;
  border-radius: 5rem;
  outline: none;
  margin: 0 .5rem;
  border: 1px solid white;
}

#date{
  min-width: 34px;
}

.select{
  border-radius: 5rem  0 0 5rem;
}

.button{
  width: 7rem;
  background: white;
  transition: .3s;
  text-transform: uppercase;
}

.button:hover{
  background: #76448A;
  color: white;
  font-weight: bold;
}

@media (max-width: 1100px){
  .container{
    width: 80%;
  }
  
}

/* @media (max-width: 850px){
  .container{
    width: 90%;
  }
  .input,.select{
    max-width: 8rem;
  }
  .button{
    max-width: 5rem;
  }
} */

@media (max-width: 600px){
  /* .container{
    top: 1rem;
    width: 95%;
    height: 40%;
  }
  .input,.select{
    max-width: 5rem;
  }
  .button{
    max-width: 4rem;
  }
  #date{
    width: 34px;
  } */
  .header{
    height: 250px;
  }

  .container{
    position: absolute;
    left: 25%;
    transform: translateX(-25%);
    flex-direction: column;
    gap: .5rem;
    width: 50%;
    height: 95%;
    border-radius: 3rem;
    margin-top: .2rem;
    
  }
  .input,.select, .date{
    width: 80% !important; 
  }
  .button{
    margin-top: .8rem;
  }
}
