.container{
  position: absolute;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  top: 124px;
  left: 50%;
  transform: translateX(-50%);
  
}

.container span{
  font-weight: bold;
}

.item{
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  border: 1px solid white;
  color: #273746;
  border-radius: 0 0 2rem 2rem ;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .5);
  padding: .5rem 2rem;
}

@media (max-width: 600px){
  .container{
    top: 112px;
    font-size: .9rem;
    text-align: center;
    padding: .5rem 1rem;
  }
  .item > span{
    font-size: .7rem;
  }
}

@media (max-width: 550px){
  .container{
    gap: 1rem;
  }
  .item{
    padding: .5rem 1.5rem;
  }
}

@media (max-width: 450px){
  .item{
    padding: .3rem 1rem;
  }
}

@media (max-width: 400px){
  .container{
    gap: .5rem;
  }
  .item{
    font-size: .8rem;
  }
  .item > span{
    font-size: .65rem;
  }
}